<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.altscraper.realtime</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/pedro/Documents/Github/alt-scraper/venv/bin/python3</string>
        <string>/Users/pedro/Documents/Github/alt-scraper/realtime_daemon.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/pedro/Documents/Github/alt-scraper</string>
    <key>StandardOutPath</key>
    <string>/Users/pedro/Documents/Github/alt-scraper/realtime_daemon.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/pedro/Documents/Github/alt-scraper/realtime_daemon.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
